.App {
  margin: 20px auto;
  width: 400px;
}
.Veiw{
  text-align: center;
  padding: 20px;
  margin: 10px;
  border: 1px solid greenyellow;
}
.green{
  background: green;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.btn{
  width: 33.3333%;
  height: 30px;
}
.del, .enter{
  width: 133px;
  height: 30px;
}
